/* This is a css comment */
/* from http://www.w3schools.com/css/css_howto.asp */

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.my-parragraph{
	color: #146345;
}

#title{
	font-size: 60px;
}